.template {
  position: relative;
  padding-top: 1rem;
}

.template__bg-img {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.template__l-container {
  text-align: center;
}

.template__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template__intro > * + * {
  margin-top: 1rem;
}

.template__heading {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
  text-align: center;
  text-decoration: underline;
}

.template__brief {
  font-size: var(--fs-sm);
  font-weight: var(--fw-300);
  max-width: 25ch;
  text-align: center;
}

.template__l-container-bg {
  display: none;
}

.template__r-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.template__content {
  margin-top: 1rem;
  max-width: 400px;
  width: 100%;
  background-color: var(--bg-clr-secondary);
  color: var(--clr-primary);
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid var(--clr-secondary);
  padding: 1rem;
}

.template__wrapper {
  position: relative;
}

.template__top-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.template__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-500);
}

.template__description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
}

.template__link {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
  text-decoration: underline;
}

.templates__goto-btn {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
  color: var(--clr-primary);
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.3rem;
  border: 0;
}

.template__bottom-container {
  margin-top: 0.5rem;
  text-align: center;
}

.template__google-btn {
  color: var(--clr-primary);
  background-color: var(--bg-clr-primary);
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.template__icon {
  color: var(--clr-primary);
  border: 1px solid var(--clr-secondary);
  width: 23px;
  aspect-ratio: 1 / 1;
}
.template__btn--border {
  border: 0;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
@media (min-width: 1024px) {
  .template {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 0;
  }

  .template__brief {
    margin-top: 3rem;
    display: block;
  }

  .template__r-container {
    margin-top: 0;
    /* height: 100%; */
  }

  .template__heading {
    font-size: var(--fs-lg);
    font-weight: var(--fw-500);
  }

  .template__brief {
    font-size: var(--fs-sm);
    font-weight: var(--fw-200);
  }

  .template__l-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .template__intro {
    background-color: var(--bg-clr-primary);
    border-radius: 20px;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .template__l-container-bg {
    height: 250px;
    width: 400px;
    margin-top: 3rem;
    display: block;
  }

  .template__content {
    margin-top: 0;
  }
}

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
