.mangas {
  margin-top: 1.5rem;
}

.mangas__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
  text-transform: capitalize;
}

.mangas__content {
  margin-top: 1.5rem;
}

.mangas__container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  place-items: center;
  padding-block: 2rem;
}

.infi {
  width: 100%;
  height: 20px;
  background-color: red;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
@media (min-width: 640px) {
  .mangas__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Md */
@media (min-width: 768px) {
  .mangas__title {
    font-size: var(--fs-lg);
  }
}

/* Lg */
@media (min-width: 1024px) {
  .mangas__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .mangas__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-400);
  }
}

/* Xl */
@media (min-width: 1280px) {
  .mangas__container {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .mangas__container {
    grid-template-columns: repeat(6, 1fr);
  }
}
