.login__link-wrapper {
  margin-top: 0.5rem;
  text-align: right;
}

.login__link {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
  text-decoration: underline;
}

.login-two__btn {
  margin-top: 1rem;
}
