/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */

:root {
  --slider--height: 600px;
}

.container {
  width: calc(100%);
  margin-inline: auto;
  padding-inline: 1rem;
  /* __test__ */
  /* border: 1px solid red; */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section-mg-top {
  padding-top: 2.5rem;
}

.loading {
  filter: blur(20px) grayscale(100%);
}

.loaded {
  filter: blur(0) grayscale(0);
  transition: filter 0.7s ease-in-out;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll !important;
  z-index: 10;
}

/* Xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* Sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* Md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Lg */
@media (min-width: 1024px) {
  :root {
    --slider--height: 700px;
  }

  .container {
    max-width: 1024px;
  }
}

/* Xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
