.read__top-wrapper {
  margin-block: 1rem;
}

.read__intro-container {
  margin-top: 10rem;
  padding-bottom: 1rem;
}

.read__intro-container > * + * {
  margin-top: 0.5rem;
}

.read__title {
  font-size: var(--fs-xl);
  font-weight: var(--fw-800);
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.read__title--fs {
  font-size: 2.9rem;
}

.read__description {
  font-size: var(--fs-xs);
  font-weight: var(--fw-200);
  text-transform: capitalize;
  letter-spacing: -0.01em;
  max-width: 35ch;
}

.read__manga-wrapper {
  background-color: var(--bg-clr-primary);
}

.read__manga {
  padding-block: 2rem;
}

.read__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read__manga-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
}

.read__manga-container {
  display: grid;
  place-content: center;
  place-items: stretch;
  gap: 1rem;
  grid-template-columns: repeat(1, 200px);
  margin-top: 2.5rem;
}

.read__link {
  font-size: var(--fs-xs);
  font-weight: var(--fw-300);
  text-decoration: underline;
  background-color: orange;
  padding: 0.3rem;
  border-radius: 5px;
  color: #000;
}
.read__link--mt {
  margin-top: 1.5rem;
}

.lg-screen {
  display: none;
}

.read__bg-img {
  position: fixed;
  top: 0;
  z-index: -9;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
@media (min-width: 640px) {
  .read__intro-container {
    margin-top: 13rem;
  }

  .read__manga-container {
    grid-template-columns: repeat(2, 220px);
  }
}

/* Md */
@media (min-width: 768px) {
  .read__intro-container {
    margin-top: 14rem;
  }

  .lg-screen {
    display: block;
  }

  .sm-screen {
    display: none;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .read__top-wrapper {
    position: relative;
  }

  .read__intro-container {
    background-color: var(--clr-primary);
    padding: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
  }

  .read__title {
    color: var(--bg-clr-primary);
    font-size: var(--fs-1xl);
  }

  .read__description {
    color: var(--bg-clr-primary);
    font-weight: var(--fw-300);
  }

  .read__manga {
    padding-block: 3rem;
  }

  .read__manga-container {
    grid-template-columns: repeat(3, 256px);
    margin-top: 3.5rem;
  }

  .read__manga-title {
    font-size: var(--fs-lg);
    font-weight: var(--fw-400);
  }
}

/* Xl */
@media (min-width: 1280px) {
  .read__intro-container {
    margin-top: 17rem;
  }

  .read__manga-container {
    grid-template-columns: repeat(4, 256px);
  }

  .read__link {
    font-size: var(--fs-sm);
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .read__title {
    font-size: var(--fs-2xl);
  }

  .read__description {
    font-size: var(--fs-sm);
  }
}
