:root {
  --height: 250px;
}

.controller-close {
  transform: translateY(var(--height));
}

.controller__close-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 0;
  outline: 0;
  background-color: var(--bg-clr-primary);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.controller__close-svg {
  width: 30px;
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller {
  background-color: var(--bg-clr-primary);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 0;
  width: 75%;
  height: var(--height);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  transition: transform 0.3s ease-in;
  color: #fff;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.controller__container-right {
  flex: 1;
}

.controller__pag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.controller__pg-svg {
  width: 20px;
  aspect-ratio: 1 / 1;
  color: #fff;
}

.controller__pag-counter {
  background-color: orange;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 7px;
}

.controller__pag-btn {
  width: fit-content;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.controller__nav-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
}

.controller__top-container {
  padding-inline: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.controller__chap-count {
  background-color: orange;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
}

.controller__btn-wrapper {
  display: flex;
  gap: 1rem;
}

.controller__chapter-list {
  flex: 1;
}

.controller__list-btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.controller__list-svg {
  width: 20px;
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller__nav-btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.controller__nav-svg {
  width: 20px;
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller__controls {
  display: flex;
  gap: 0.5rem;
}

/* loader */
.controller__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controller__loader .loader {
  width: 50px;
}
/*  */

.controller__chapter-list {
  padding-right: 0.5rem;
  max-height: 160px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.3rem;
  transition: transform 0.3s ease-in;
}

.controller__chapter-li {
  /* width: fit-content; */
  /* width: 15ch; */
}

.controller__chapter-btn {
  width: 100%;
  padding: 0.3rem 1rem;
  background-color: var(--bg-clr-secondary);
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}

.controller__chapter-list::-webkit-scrollbar {
  width: 5px;
}

.controller__chapter-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.controller__chapter-list::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  border-radius: 5px;
}

.disabled__btn {
  cursor: not-allowed;
  opacity: 0.5;
}

.disabled__btn:hover {
  opacity: none;
}

.controller__drop-down {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 10px;
}

.controller__select {
  border: 0;
  outline: 0;
  background-color: var(--bg-clr-primary);
  color: #fff;
  outline: 1px solid var(--clr-primary);
  border-radius: 7px;
  cursor: pointer;
}

.controller__option {
  background: var(--bg-clr-secondary);
  color: #fff;
  padding: 0.3rem;
  font-size: 14px;
}
