.manga-card {
  width: fit-content;
  position: relative;
  border: 1px solid var(--clr-primary);
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.manga-card__content:hover .manga-card__title {
  background-color: rgb(203, 60, 60);
}

.manga-card__hold-img {
  width: 250px;
  aspect-ratio: 1 / 1.1;
}

.manga-card__content {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
}

.manga-card__img {
  width: 250px;
  aspect-ratio: 1 / 1.1;
}

.manga-card__fav-btn-wrapper {
  position: absolute;
  top: 0;
  z-index: 9;
}

.manga-card__fav-btn {
  width: 30px;
  aspect-ratio: 1 / 1;
  z-index: 999;
}

.manga-card__title {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  background-color: var(--bg-clr-secondary);
  font-size: var(--fs-xs);
  font-weight: var(--fw-300);
  color: #fff;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}
