.manga-skeleton__top-content {
  position: relative;
  width: fit-content;
}

.manga-skeleton__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  line-height: 1;
}

.manga-skeleton__author-btn {
  margin-top: 0.5rem;
}
