<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <article>
      <header>
        <h2>Hi {{username}}</h2>
      </header>
      <section>
        <p>
          To finish setting up your account and start using Puck, please verify
          your email address.
        </p>
        <a href="{{verificationLink}}">Verify Email</a>
        <p>
          This link will expire after 15 minutes. To request another
          verification link, please log in to prompt a re-send link.
        </p>
      </section>
    </article>
  </body>
</html>
