<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <h2>Hi {{username}}</h2>
    <p>Click on the following link to reset your password:</p>
    <a href="{{verificationLink}}">here</a>
    <p>The link will expire in 15 minutes.</p>
    <p>If you didn't request a password reset, please ignore this email.</p>
  </body>
</html>
