.newsletter {
  background-color: var(--bg-clr-primary);
  position: relative;
  isolation: isolate;
}

.newsletter__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -9;
  opacity: 0.3;
  border-radius: 25px;
}

.newsletter__container {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.newsletter__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
  line-height: 1;
}

.newsletter__description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  max-width: 30ch;
}

.newsletter__form {
  margin-top: 0.5rem;
  background-color: var(--bg-clr-primary);
  padding: 0.5rem;
  border-radius: 10px;
  width: fit-content;
}

.newsletter__input-wrapper {
  display: flex;
}

.newsletter__input {
  border-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.newsletter__btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--bg-clr-secondary);
  color: var(--clr-primary);
  height: fit-content;
  padding: 0.9rem;
  text-wrap: nowrap;
}
.newsletter__btn:disabled {
  color: var(--bg-clr-primary);
}

.newsletter__btn:disabled {
  cursor: not-allowed;
}

.newsletter__unsub-btn {
  width: fit-content;
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--clr-primary);
  text-decoration: underline;
  cursor: pointer;
}

.newsletter__r-container {
  display: none;
  width: 300px;
  height: 300px;
  justify-self: end;
}

.newsletter__img {
  width: 300px;
  aspect-ratio: 1 / 1;
}

.newsletter__input {
  padding: 0.7rem 1rem;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
@media (min-width: 640px) {
  .newsletter__title {
    font-size: var(--fs-md);
  }

  .newsletter__form {
    padding: 1rem;
  }
}

/* Md */
@media (min-width: 768px) {
  .newsletter__l-container {
    gap: 1rem;
  }

  .newsletter__title {
    font-size: var(--fs-md);
  }

  .newsletter__description {
    font-size: var(--fs-xs);
  }

  .newsletter__r-container {
    display: block;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .newsletter__title {
    font-size: var(--fs-lg);
    max-width: none;
  }
}

/* Xl */
@media (min-width: 1280px) {
  .newsletter__description {
    font-size: var(--fs-sm);
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .newsletter__title {
    font-size: var(--fs-xl);
  }

  .newsletter__r-container {
    width: 350px;
    height: 350px;
  }

  .newsletter__img {
    width: 350px;
  }
}
