.newsletter {
  background-color: var(--bg-clr-tertiary);
}

.newsletter__content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1, 1fr);
}

.newsletter__l-container {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.newsletter__title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  line-height: 1;
}

.newsletter__description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  max-width: 30ch;
}

.newletter__input-wrapper {
  display: flex;
  margin-top: 0.5rem;
}

.newsletter__input {
  width: 100%;
  padding: 0.7rem;
  border: 0;
  outline: 0;
  font-size: var(--fs-xs);
  font-weight: var(--fs-300);
}

.newsletter__btn {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  text-wrap: nowrap;
  padding: 0.7rem;
  border: 0;
  outline: 0;
  font-size: var(--fs-xs);
  font-weight: var(--fs-300);
  cursor: pointer;
}

.newsletter__r-container {
  display: none;
  width: 300px;
  height: 300px;
  justify-self: end;
}

.newsletter__img {
  width: 300px;
  aspect-ratio: 1 / 1;
}

/* Xs */
@media (min-width: 475px) {
  .newsletter__input {
    padding: 0.7rem 1rem;
  }

  .newsletter__btn {
    padding: 0.7rem 1rem;
  }
}

/* Sm */
@media (min-width: 640px) {
  .newsletter__title {
    font-size: var(--fs-md);
  }

  .newsletter__input {
    padding: 1rem;
  }

  .newsletter__btn {
    padding: 1rem;
  }
}

/* Md */
@media (min-width: 768px) {
  .newsletter__l-container {
    gap: 1rem;
  }

  .newsletter__title {
    font-size: var(--fs-md);
  }

  .newsletter__description {
    font-size: var(--fs-xs);
  }

  .newsletter__input {
    width: fit-content;
  }

  .newsletter__r-container {
    display: block;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .newsletter__title {
    font-size: var(--fs-lg);
    max-width: none;
  }
}

/* Xl */
@media (min-width: 1280px) {
  .newsletter__description {
    font-size: var(--fs-sm);
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .newsletter__title {
    font-size: var(--fs-xl);
  }

  .newsletter__r-container {
    width: 350px;
    height: 350px;
  }

  .newsletter__img {
    width: 350px;
  }
}
