:root {
  --controller--height: 350px;
  --controller--icon-width: 25px;
  --controller--counter-fs: 14px;
  --controller--control-btn-width: 16px;
  --controller--loader-width: 100px;
}

.controller__fetch-loader {
  position: absolute;
  top: calc(-1 * (var(--controller--loader-width) / 2));
  left: 50%;
  transform: translateX(-50%);
}

.controller__fetch-loader .loader {
  width: var(--controller--loader-width);
  --loader--clr: var(--bg-clr-secondary);
}

.controller__close-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 0;
  outline: 0;
  background-color: var(--bg-clr-primary);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.controller__close-btn-sm {
  align-self: center;
  bottom: 10px;
  left: 10px;
  border: 0;
  outline: 0;
  background-color: var(--bg-clr-secondary);
  padding: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.controller__close-svg {
  width: var(--controller--icon-width);
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller {
  background-color: var(--bg-clr-primary);
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 1);
  position: absolute;
  bottom: calc(-1 * var(--controller--height));
  height: var(--controller--height);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: transform 0.3s ease-in;
  color: #fff;
  padding: 0.7rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  max-width: 1100px;
}

.controller-close {
  transform: translateY(calc(-1 * var(--controller--height)));
}

.controller__container-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.controller__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.controller__btn-wrapper {
  display: flex;
  gap: 1rem;
}

.controller__nav-btn {
  border: 0;
  outline: 0;
  background-color: transparent;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.controller__nav-btn:disabled {
  cursor: not-allowed;
}

.controller__nav-btn .controller__nav-svg {
  width: var(--controller--control-btn-width);
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller__nav-btn:disabled .controller__nav-svg {
  fill: var(--bg-clr-primary);
}

.controller__counter {
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.controller__current-count {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
}

.controller__counter-skeleton {
  width: 120px;
}

.controller__curr-chapter {
  display: none;
}

.controller__list-svg {
  width: 20px;
  aspect-ratio: 1 / 1;
  fill: #fff;
}

.controller__chap-count {
  background-color: orange;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  font-size: var(--fs-2xs);
  font-weight: var(--fs-300);
}

.controller__pag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.controller__pag-btn {
  width: fit-content;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.controller__pg-svg {
  width: var(--controller--control-btn-width);
  aspect-ratio: 1 / 1;
  color: #fff;
}

.controller__pag-counter {
  background-color: orange;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 7px;
  font-size: var(--fs-2xs);
  font-weight: var(--fw-300);
}

.controller__chapter-list {
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.3rem;
  transition: transform 0.3s ease-in;
  height: calc(var(--controller--height) - 100px);
}

.controller__chapter-btn {
  font-size: var(--fs-2xs);
  font-weight: var(--fw-300);
  background-color: var(--bg-clr-secondary);
  width: 100%;
  height: 100%;
  padding: 0.3rem 1rem;
  border-radius: 8px;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
}

.controller__chapter-details {
  padding: 0.3rem;
}

.controller__chapter-details:first-child {
  border-bottom: 1px solid var(--clr-primary);
}

.controller__container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controller__quality-label {
  font-size: var(--fs-2xs);
  font-weight: var(--fs-400);
}

.controller__drop-down {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--bg-clr-secondary);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
}

.controller__drop-down-skeleton {
  height: 25px;
  width: 94px;
}

.controller__select {
  font-size: var(--fs-3xs);
  font-weight: var(--fw-300);
  background-color: var(--bg-clr-primary);
  outline: 1px solid var(--clr-primary);
  border: 0;
  outline: 0;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  padding: 0.2rem;
}

.controller__option {
  width: fit-content;
  background: var(--bg-clr-secondary);
  color: #fff;
  padding: 0.3rem;
}

.controller__lg-screen {
  display: none;
}

.controller__vol-lg-screen {
  display: none;
}

.controller__back-svg {
  width: var(--controller--icon-width);
  aspect-ratio: 1 / 1;
}

.yarl__icon {
  width: var(--controller--icon-width);
}

.yarl__counter {
  font-size: var(--controller-counter-fs);
}

/* scrollbar */
.controller__chapter-list::-webkit-scrollbar {
  display: none;
  width: 8px;
}

.controller__chapter-list::-webkit-scrollbar-track {
  background-color: var(--bg-clr-secondary);
  border-radius: 7px;
}

.controller__chapter-list::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 7px;
}

/* loader */
.controller__loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controller__loader .loader {
  width: 50px;
}

/* Xs */
@media (min-width: 475px) {
  :root {
    --controller--icon-width: 28px;
    --controller--counter-fs: 16px;
  }

  .controller__curr-chapter {
    display: flex;
  }

  .controller {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 1rem;
    gap: 1rem;
  }

  .controller__chapter-list {
    gap: 0.5rem;
    padding-right: 0.5rem;
  }

  .controller__chapter-list::-webkit-scrollbar {
    display: block;
  }

  .controller__drop-down-skeleton {
    height: 28px;
    width: 110px;
  }
}

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
@media (min-width: 768px) {
  :root {
    --controller--icon-width: 29px;
    --controller--counter-fs: 17px;
  }

  .controller__close-btn-sm {
    display: none;
  }

  .controller {
    width: 75%;
  }

  .controller__container-left {
    gap: 4rem;
    justify-content: normal;
  }
}

/* Md-Lg */
@media (min-width: 850px) {
  .controller__vol-lg-screen {
    display: flex;
  }
}

/* Lg */
@media (min-width: 1024px) {
  :root {
    --controller--icon-width: 32px;
    --controller--control-btn-width: 18px;
  }

  .controller__quality-label {
    font-size: var(--fs-xss);
    font-weight: var(--fs-400);
  }

  .controller__select {
    font-size: var(--fs-2xs);
  }

  .controller__chapter-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .controller__chapter-btn {
    font-size: var(--fs-xss);
    font-weight: var(--fw-400);
  }

  .controller__pag-counter {
    font-size: var(--fs-xss);
    font-weight: var(--fw-400);
  }

  .controller__tc-skeleton {
    width: 200px;
    height: 22px;
  }

  .controller__tc-skeleton-sm-wrapper {
    display: none;
  }
}

/* Xl */
@media (min-width: 1280px) {
  .controller__sm-screen {
    display: none;
  }

  .controller__lg-screen {
    display: flex;
  }
}

/* 2Xl */
/* @media (min-width: 1440px) {} */