.manga__bg-img {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -999;
  opacity: 0.3;
  object-fit: cover;
  filter: blur(8px);
}

.manga > * + * {
  margin-top: 1rem;
}

.manga__top-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.manga__cover-wrapper {
  position: relative;
}

.manga__cover-img {
  width: 150px;
  aspect-ratio: 1 / 1.5;
  border-radius: 7px;
}

.manga__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-600);
  letter-spacing: -0.05em;
  text-transform: capitalize;
}

.manga__author {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  text-transform: capitalize;
}

.manga__created-by {
  font-size: var(--fs-xss);
  font-weight: var(--fw-200);
}

.manga__publication {
  font-size: var(--fs-xs);
  font-weight: var(--fw-200);
}

.manga__content {
  background-color: var(--bg-clr-primary);
  padding-block-start: 1rem;
  padding-block-end: 2.5rem;
}

.manga__details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.manga__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 900px;
}

.manga__para {
  margin-top: 1rem;
  font-size: var(--fs-xss);
  font-weight: var(--fw-200);
  text-transform: capitalize;
}

.manga__btn-container {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  max-width: 640px;
}

.manga__btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 7px;
  padding: 0.5rem;
  background-color: var(--clr-primary);
  color: var(--bg-clr-primary);
  flex: 1;
  font-size: var(--fs-xs);
  font-weight: var(--fw-400);
}
.manga__btn:disabled {
  cursor: not-allowed;
  background-color: var(--bg-clr-secondary);
}

.manga__drop-down-icon {
  margin-inline: auto;
  width: 25px;
  aspect-ratio: 1 / 1;
  color: #fff;
}

.manga__word {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.manga__description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-200);
  letter-spacing: -0.01em;
}

.manga__sec-title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
}

.manga__drop-down {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.manga__drop-down-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.manga__description--mt {
  margin-top: 1rem;
}

.manga__author-container {
  margin-top: 1rem;
}

.manga__author-tag {
  background-color: var(--bg-clr-secondary);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 10px;
}

.manga__read-or-buy {
  margin-top: 1rem;
}

.manga__links {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.manga__link {
  font-size: 15px;
  font-weight: var(--fw-300);
  background-color: orange;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  color: #fff;
}

.manga__title-container {
  margin-top: 1rem;
}

.manga__lang-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.manga__lang {
  font-size: var(--fs-xss);
  font-weight: var(--fw-200);
}

.manga__lang:not(:last-child) {
  border-bottom: 1px solid grey;
}

.manga__btn-disable {
  cursor: not-allowed;
  opacity: 0.7;
}

.manga__link-disable {
  background-color: var(--bg-clr-secondary);
  color: var(--bg-clr-primary);
  pointer-events: none;
}

/* *********** */

.manga__skeleton {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  inset: 0;
  display: block;
  line-height: 1;
}

.manga__description-container {
  margin-top: 1rem;
}

.manga__cover-wrapper:hover {
  cursor: pointer;
}

.manga__cover-wrapper.manga__cover-wrapper-disabled:hover {
  cursor: auto;
}

.manga__cover-wrapper:hover .manga__full-screen-button {
  opacity: 1;
  visibility: visible;
  background-color: rgba(25, 24, 21, 0.6);
}
.manga__cover-wrapper:hover .manga__full-screen-svg {
  opacity: 1;
}

.manga__full-screen-button {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  z-index: 9;
  opacity: 0;
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: hidden;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out, visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.manga__full-screen-svg {
  width: 30px;
  fill: var(--clr-primary);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.manga__fs-img-wrapper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(25, 24, 21, 0.8);
}

.no-scroll-fs {
  overflow: hidden;
}

.manga__btn-fav {
  border-radius: 7px;
}

.manga__static-content {
  margin-top: 1rem;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
@media (min-width: 768px) {
  .manga__cover-img {
    width: 170px;
  }
}

/* Lg */
@media (min-width: 1024px) {
  .manga__cover-img {
    width: 180px;
  }

  .manga__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-600);
    letter-spacing: -0.05em;
    text-transform: capitalize;
  }

  .manga__author {
    font-size: var(--fs-xs);
    font-weight: var(--fw-300);
    text-transform: capitalize;
  }

  .manga__created-by {
    font-size: var(--fs-xs);
    font-weight: var(--fw-200);
  }

  .manga__lang {
    font-size: var(--fs-xs);
  }
}

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
@media (min-width: 1440px) {
  .manga__cover-img {
    width: 190px;
  }
}
