.change-skeleton {
  padding-block: 2rem;
}

.change-skeleton__title {
  margin-top: 1rem;
  max-width: 200px;
  height: 40px;
}

.change-skeleton__description {
  margin-top: 1rem;
  height: 20px;
}

.change-skeleton__input {
  margin-top: 1rem;
  max-width: 350px;
  height: 90px;
}

.change-skeleton__btn {
  margin-top: 1.5rem;
  max-width: 100px;
  height: 30px;
}
