.go {
  border: 0;
  outline: 0;
  background-color: orange;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 7px;
  padding: 0.3rem 0.6rem 0.3rem 0.3rem;
}

.go__svg {
  width: 20px;
  aspect-ratio: 1 / 1;
  color: var(--clr-primary);
}

.go__text {
  font-size: var(--fs-xss);
  font-weight: var(--fw-400);
  text-transform: uppercase;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
