.showcase {
  position: relative;
}

.showcase__content {
  padding-block: 1rem;
}

.showcase__bg-img-wrapper {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.showcase__bg-img {
  height: 100%;
  width: 100%;
  filter: invert(100%);
}

.showcase__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase__title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
}

.showcase__link {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  text-decoration: underline;
}

.showcase__container {
  margin-top: 2rem;
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 140px);
}

.showcase__card {
  display: flex;
  justify-content: center;
  background-color: var(--bg-clr-tertiary);
}

.showcase__figure {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.showcase__caption {
  font-size: var(--fs-xs);
  font-weight: var(--fw-300);
  max-width: 10ch;
}

.showcase__img-wrapper {
  width: 120px;
  height: 120px;
}

.showcase__img {
  aspect-ratio: 1 / 1;
}

/* Xs */
@media (min-width: 475px) {
  .showcase__container {
    gap: 1rem;
  }
}

/* Sm */
@media (min-width: 640px) {
  .showcase__title {
    font-size: var(--fs-md);
  }

  .showcase__link {
    font-size: var(--fs-xs);
  }

  .showcase__figure {
    padding: 1rem;
  }

  .showcase__container {
    grid-template-columns: repeat(2, 170px);
  }
}

/* Md */
@media (min-width: 768px) {
  .showcase__container {
    grid-template-columns: repeat(2, 200px);
  }
}

/* Lg */
@media (min-width: 1024px) {
  .showcase__figure {
    padding: 1.5rem;
  }

  .showcase__img-wrapper {
    width: 160px;
    height: 160px;
  }

  .showcase__container {
    grid-template-columns: repeat(4, 230px);
  }
}

/* Xl */
@media (min-width: 1280px) {
  .showcase__title {
    font-size: var(--fs-lg);
  }

  .showcase__link {
    font-size: var(--fs-sm);
  }
}

/* 2Xl */
@media (min-width: 1440px) {
  .showcase__container {
    grid-template-columns: repeat(4, 250px);
  }
}
