.forgot {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot__content {
  max-width: 350px;
  width: 100%;
  background-color: var(--bg-clr-secondary);
  color: var(--clr-primary);
  padding: 1.5rem 1rem;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid var(--clr-secondary);
}
.forgot__content > * + * {
  margin-top: 1.5rem;
}

.forgot__title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-600);
}

.forgot__description {
  font-size: var(--fs-md);
  font-weight: var(--fw-300);
}
.forgot__description--fs {
  font-size: var(--fs-xss);
}

.forgot__btn {
  background-color: var(--bg-clr-primary);
  color: var(--clr-primary);
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 100%;
}
.forgot__btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
