.community {
  margin-bottom: 3rem;
}

.community__link {
  font-size: var(--fs-sm);
  font-weight: var(--fw-400);
  background-color: var(--bg-clr-secondary);
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
}

.community__posts {
  background-color: rgb(220, 103, 103);
  margin-top: 1rem;
  height: 400px;
}
