.favourite {
  margin-block: 2rem;
}

.favourite__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
  background-color: var(--bg-clr-secondary);
  width: fit-content;
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
}

.favourite__alt {
  font-size: var(--fs-sm);
  font-weight: var(--fw-200);
}

.favourite__bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.favourite__load-more-btn {
  border: 0;
  outline: 0;
  background-color: orange;
  padding: 0.3rem 0.5rem;
  border-radius: 7px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-400);
  cursor: pointer;
}
.favourite__load-more-btn:disabled {
  background-color: var(--bg-clr-secondary);
  cursor: not-allowed;
}

.favourite__null {
  background-color: orange;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  margin-top: 1.5rem;
}
.favourite__null > * + * {
  margin-top: 1rem;
}

.favourite__null-title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.favourite__null-description {
  font-size: var(--fs-xss);
  font-weight: var(--fw-300);
  color: var(--bg-clr-primary);
}

.favourite__null-img {
  width: 140px;
  height: 220px;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
/* @media (min-width: 640px) {} */

/* Md */
@media (min-width: 768px) {
  .favourite__null-title {
    font-size: var(--fs-xl);
  }

  .favourite__null-description {
    font-size: var(--fs-xs);
  }

  .favourite__null-img {
    width: 160px;
    height: 230px;
  }
}

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
