.change > * + * {
  margin-top: 1rem;
}

.change__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
}

.change__description {
  font-size: var(--fs-xs);
  font-weight: var(--fw-300);
}

.change__btn {
  background-color: orange;
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 7px;
  cursor: pointer;
}
