.change {
  padding-block-start: 1rem;
  padding-block-end: 3rem;
}

.change > * + * {
  margin-top: 1rem;
}

.change__title {
  font-size: var(--fs-md);
  font-weight: var(--fw-400);
}

.change__description {
  font-size: var(--fs-xs);
  font-weight: var(--fw-300);
}

.change__btn {
  background-color: orange;
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 7px;
  cursor: pointer;
}

.change__btn:disabled {
  background-color: var(--bg-clr-secondary);
  cursor: not-allowed;
}

/* Xs */
/* @media (min-width: 475px) {} */

/* Sm */
@media (min-width: 640px) {
  .change__input {
    max-width: 400px;
  }
}

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
/* @media (min-width: 1024px) {} */

/* Xl */
/* @media (min-width: 1280px) {} */

/* 2Xl */
/* @media (min-width: 1440px) {} */
